/* FOTO BESAR */

.foto-besar{

  width:85%;

  height:320px;

  object-fit:cover;

  border-radius:20px;

  display:block;

  margin:25px auto;
}

/* FOTO EDUKASI */

.foto-kecil{

  width:45%;

  height:180px;

  object-fit:cover;

  display:block;

  margin:20px auto;

  border-radius:12px;
}
