.detail img{

  width:100%;

  border-radius:20px;

  margin-top:25px;

  margin-bottom:25px;

  object-fit:cover;
}

/* FOTO BESAR */
.foto-besar{

  height:500px;
}

/* FOTO CONTOH PERILAKU */
.foto-kecil{

  width:70%;

  height:300px;

  display:block;

  margin:auto;

  border-radius:15px;
}
